/* Importación de la fuente */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén apilados */
    align-items: center;
    min-height: 100vh; /* Altura mínima igual a la ventana */
    background: linear-gradient(to bottom, #4CAF50,  #35abe2 ); /* Fondo degradado */
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar contenido verticalmente */
    align-items: center; /* Centrar contenido horizontalmente */
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 30px auto; /* Centrado horizontal y margen superior */
}

/* Título */
h1 {
    color: #2E7D32;
    margin-bottom: 20px;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px; /* Espacio entre los campos */
    width: 100%;
    max-width: 400px;
}

/* Etiquetas de los campos */
label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

/* Campos de entrada */
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

/* Grupo de checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
}

#phoneGroup {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 5px;
}

.checkbox-group input[type="checkbox"] {
    width: auto;
    cursor: pointer;
}

.checkbox-group label {
    margin: 0;
    font-weight: normal;
    cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
    outline: none;
    border-color: #2E7D32;
    box-shadow: 0 0 4px rgba(46, 125, 50, 0.8);
}

/* Canvas centrado */
canvas {
    max-width: 100%; /* Ajustar al tamaño del contenedor */
    height: auto; /* Mantener proporción */
    display: block;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Botón de descarga */
#downloadLink {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#downloadLink:hover {
    background-color: #2E7D32;
}

.footer{
    font-weight: bold;
}